
.feature{
    margin: 50px 0 50px 0;
}

.feature>p{
    font-size: 48px;
    font-weight: 600;
}

.f-content{
    width: 85%;
    border: 1px solid gray;
    border-radius: 50px;
    margin: auto;
    margin-top: -40px;
}

.f-cards{
    display: flex;
    justify-content: space-around;
    padding: 50px
    
}

.f-card{
    width: 300px;
    padding-top: 40px;
}

.f-box{
    background: rgba(233, 226, 227, 0.944) -23px;
    justify-content: center;
    align-content: center;
    margin: auto;
    height: 5px;
    width: 5px;
    border: 20px solid rgba(233, 216, 219, 0.944);
    box-shadow: 0px 0px  20px 50px  rgba(233, 216, 219, 0.944);
    border-radius: 60%;
    opacity: 0.9;
   
}

.f-card>p{
    margin-top: 80px;
    font-size:24px;
    line-height: 30px;
    letter-spacing: 0.5;
    line-height: 30px;
    letter-spacing: 0.2;
}