.d-bg{
    background-image: url(../../images/Background.jpg);
    margin: 50px;
    border-radius: 50px;
    height: 300px;
}

.d-bg>p{
    font-size:48px;
    font-weight: 500;
    color: white;
    padding-top: 10px;
}

.d-container{
    height: 400px;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 20px;
    border-radius: 50px;
    width: 85%;
    margin:  auto;
    margin-top: -250px;
}