.d-bg{
    background-image: url(../../images/Background.jpg);
    margin: 50px;
    border-radius: 50px;
    height: 300px;
}

.d-bg>p{
    font-size:48px;
    font-weight: 500;
    color: white;
    padding-top: 10px;
}

.d-container{
    background: white;
    border: 1.3px solid gray;
    border-radius: 50px;
    width: 85%;
    margin:  auto;
    margin-top: -250px;
    box-shadow: 1px 4px 5px rgb(240, 236, 236);
}